html {
  box-sizing: border-box;
  background-color: #CBF3F0;
}

.navlogo {
  display: flex; 
  margin: auto;
  width: 100px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  color: #2EC4B6;
}

.km {
  color: #FF9F1C;
}

.converter-form {
  display: flex;
  text-align: center;
  justify-content: center;
}

.user-input {
  width: 100vw;
}

.instructions {
  font-family: sans-serif;
  color: #2EC4B6;
  font-size: 1.2rem;
  font-weight: lighter;
}

.button {
  font-family: sans-serif;
  background-color: #ffdcad;
  color: #f58f00;
  font-weight: bold;
  border-color: #FF9F1C;
  border-radius: 20px;
}

.result {
  margin-top: 4vh;
  font-family: sans-serif;
  color: #2EC4B6;
}

footer {
  position: absolute;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  color: #FF9F1C;
  background-color: #ffdcad;
  text-align: center;
}

.moon {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: bolder;
}